{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^(react(.*)$)",
    "<THIRD_PARTY_MODULES>",
    "(./components/(.*)$)",
    "(./hooks/(.*)$)",
    "(./service/(.*)$)",
    "(./utils/(.*)$)",
    "(./types/(.*)$)",
    "^.(css)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderAlphabetize": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
